# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/venv/
backend/env/

# Environment variables
.env

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
